* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  background-color: rgb(37, 23, 23);
  height: 25vh;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 5vh;
}

main {
  min-height: 65vh;
  background-color: whitesmoke;
  text-align: center;
  padding-top: 10vh;
}

p {
  padding: 15px;
}

li {
  display: inline-block;
  align-items: center;
  padding: 20px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

footer {
  background-color: rgb(37, 23, 23);
  height: 10vh;
  color: white;
  text-align: center;
  padding: 15px;
}

.card {
  width: 200px;
  height: 180px;
  background-color: rgb(175, 218, 245);
  border: solid 1px black;
  border-radius: 6px;
  margin: 10px;
  text-align: center;
  filter: grayscale(100%);
}

.card img {
  width: 100%;
  padding: 5px 0 5px 0;
}

.card a {
  color: black;
}

.card:hover {
  filter: grayscale(0%);
  box-shadow: 2px 2px 5px 2px rgba(55, 55, 83, 0.5);
}

.cardwrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-evenly;
}
